body {
    background: #222;
}
.button {
    background-color: #FF0044;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 100px;
    margin-right: 50px;
    cursor: pointer;
}

h3 {
    color: white;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
.message {
    margin-bottom: 10px;
}

    .message .messageText {
        text-align: left;
        color: #FFFFFF;
    }

    .message.sol {
        text-align: left;
    }

    .message.sag {
        text-align: right;
    }

    .message .resim {
        background: #FF0044 none no-repeat center;
        vertical-align: text-top;
        background-size: cover;
        display: inline-block;
        position: relative;
        color: #FFFFFF;
        height: 40px;
        width: 40px;
    }

    .message .messageText {
        background-color: #FF0044;
        vertical-align: text-top;
        display: inline-block;
        position: relative;
        line-height: 20px;
        max-width: 165px;
        color: #FFFFFF;
        padding: 10px;
    }

    .message.left .userPortrait,
    .message.sag .messageText {
        border-radius: 5px 0 0 5px;
    }

    .message.sag .userPortrait,
    .message.sol .messageText {
        border-radius: 0 5px 5px 0;
    }

    .message.mtLine.sol .messageText {
        border-radius: 0 5px 5px 0;
    }

    .message.mtLine.sag .messageText {
        border-radius: 5px 0 0 5px;
    }

    .message .messageText:before {
        border-color: transparent #FF0044;
        border-style: solid;
        position: absolute;
        border-width: 0;
        display: block;
        content: "";
        z-index: 1;
    }

    .message.sol .messageText:before {
        border-width: 0 10px 10px 0;
        left: -10px;
        top: 0;
    }

    .message.sag .messageText:before {
        border-width: 10px 0 0 10px;
        right: -10px;
        top: 30px;
    }

    .message .messageText:after {
        content: attr(data-time);
        color: rgba(255,255,255,0.5);
        position: absolute;
        line-height: 20px;
        display: block;
        bottom: 2px;
        z-index: 1;
    }

    .message.sol .messageText:after {
        margin-left: 5px;
        left: 100%;
    }

    .message.sag .messageText:after {
        margin-right: 5px;
        right: 100%;
    }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
